kernel.o
kernel.elf
kernel.img
kernel.lst
kernel.map
kernel7.elf
kernel7.img
kernel7.lst
kernel7.map
kernel8-32.elf
kernel8-32.img
kernel8-32.lst
kernel8-32.map
kernel8-32.img*
kernel8-32.img.*
kernel7.img.*
kernel7l.elf
kernel7l.img
kernel7l.img.*
kernel7l.lst
kernel7l.map
kernel_2712.elf
kernel_2712.img
kernel_2712.img.*
kernel_2712.lst
kernel_2712.map
*.o
*.a
*.log
__pycache__/
*.pyc
build/
.build/
dist/
!third_party/vice-3.10/build/
!third_party/vice-3.10/build/**
third_party/vice-3.10/build/Makefile
third_party/vice-3.10/build/*/Makefile
third_party/vice-3.10/**/Makefile
third_party/vice-3.10/**/.deps/
third_party/vice-3.10/**/config.status
third_party/vice-3.10/src/config.h
third_party/vice-3.10/src/infocontrib.h
third_party/vice-3.10/src/stamp-h1
third_party/vice-3.10/src/resid/siddefs.h
third_party/vice-3.10/src/resid-dtv/siddtvdefs.h
.toolchains/
pi4-debug-test/
pi4-test/
pi5-test/
third_party/circle-stdlib-pi4/
third_party/circle-stdlib-pi5/
third_party/source-cache/*.tar.gz
!third_party/source-cache/*.tar.gz.part-*
